.navBarDiv {
    width: 60rem;
}

.navBarUl {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navBarUl a {
    color: #cd9b9b;
    text-decoration: none; 
}

.navBarUl a.active {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    
}